flows.json
[
    {
        "id": "1e78c2098878e540",
        "type": "tab",
        "label": "Termostat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6249a630e13530e8",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "867cb1db5f09b847",
        "type": "tab",
        "label": "Silownik Nastawa Manual",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85249515dfc449d5",
        "type": "tab",
        "label": "PLN Manual",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a13aec920287264",
        "type": "modbus-client",
        "name": "usb-conn",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 2,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "858b321a4adff43b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "17e53577a75fc993",
        "type": "ui-base",
        "name": "Opec Sterownik",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "27d1e4a55863a4fe",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d961ff1262703135",
        "type": "ui-theme",
        "name": "Konsolidacja",
        "colors": {
            "surface": "#adadad",
            "primary": "#0fb4f5",
            "bgPage": "#707070",
            "groupBg": "#f0f0f0",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "compact",
            "pagePadding": "5px",
            "groupGap": "5px",
            "groupBorderRadius": "5px",
            "widgetGap": "5px"
        }
    },
    {
        "id": "5b2a90153beb6c37",
        "type": "ui-page",
        "name": "Monitor Temperatur",
        "ui": "17e53577a75fc993",
        "path": "/chart",
        "icon": "home",
        "layout": "grid",
        "theme": "d961ff1262703135",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "402b61187877985c",
        "type": "ui-group",
        "name": "TempZewnetrzna",
        "page": "5b2a90153beb6c37",
        "width": "6",
        "height": 1,
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "aa57b43bfff6a1ad",
        "type": "ui-group",
        "name": "Temp CO",
        "page": "5b2a90153beb6c37",
        "width": "6",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "03b8f32c681918ed",
        "type": "ui-group",
        "name": "Pozycja",
        "page": "5b2a90153beb6c37",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "370ade6c7eb189cb",
        "type": "ui-group",
        "name": "Nastawa",
        "page": "5b2a90153beb6c37",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "83a09bf0e993f5a5",
        "type": "ui-page",
        "name": "Panel Sterowania",
        "ui": "17e53577a75fc993",
        "path": "/sterowanie",
        "icon": "home",
        "layout": "grid",
        "theme": "d961ff1262703135",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "484d649bdd92edf9",
        "type": "ui-group",
        "name": "Włacznik Główny",
        "page": "83a09bf0e993f5a5",
        "width": "3",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c8f2dcfd596c5a5b",
        "type": "ui-page",
        "name": "Harmonogram",
        "ui": "17e53577a75fc993",
        "path": "/harmonogram",
        "icon": "home",
        "layout": "grid",
        "theme": "27d1e4a55863a4fe",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "980757773314ad13",
        "type": "ui-group",
        "name": "Harmonogram",
        "page": "c8f2dcfd596c5a5b",
        "width": "2",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0536708e693e94b1",
        "type": "ui-page",
        "name": "Krzywa Grzewcza",
        "ui": "17e53577a75fc993",
        "path": "/krzywa",
        "icon": "home",
        "layout": "grid",
        "theme": "27d1e4a55863a4fe",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6c5b1f1ebc002deb",
        "type": "ui-group",
        "name": "Ustaw Grzewczą Temp CO",
        "page": "0536708e693e94b1",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "657c50306b4f1249",
        "type": "ui-group",
        "name": "Info",
        "page": "83a09bf0e993f5a5",
        "width": "3",
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2c8e29558bef67fc",
        "type": "function",
        "z": "1e78c2098878e540",
        "name": "TempCO-extract",
        "func": "msg.payload = msg.payload.data[5] / 10;\nmsg.topic = \"TempCO\";\nmsg.timestamp = new Intl.DateTimeFormat('pl-PL', {\n  hour: '2-digit', minute: '2-digit', second: '2-digit',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour12: false\n}).format(new Date()).replace(',', '');\n\nflow.set(\"tempco\", msg.payload);\n\nnode.status({\n  fill: \"blue\",\n  shape: \"ring\",\n  text: `TempCO: ${msg.payload} °C | Time: ${msg.timestamp}`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 200,
        "wires": [
            [
                "568c2ffe47e00ceb",
                "c03008d7c7b1400a",
                "0e0c32ae656ae513"
            ]
        ]
    },
    {
        "id": "af5c63dab0f87aba",
        "type": "function",
        "z": "1e78c2098878e540",
        "name": "Pozycja-extract",
        "func": "msg.volt = msg.payload.data[0];\nmsg.payload = msg.payload.data[0];\n// / 1000;\nmsg.topic = \"Pozycja\";\nmsg.timestamp = new Intl.DateTimeFormat('pl-PL', {\n  hour: '2-digit', minute: '2-digit', second: '2-digit',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour12: false\n}).format(new Date()).replace(',', '');\n\nflow.set(\"pozycja\", msg.payload);\n\nnode.status({\n  fill: \"blue\",\n  shape: \"dot\",\n  text: `Pozycja: ${msg.payload} | Time: ${msg.timestamp}`\n});\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 260,
        "wires": [
            [
                "bd09d6777578e0a1",
                "8b78f5a8abf76e4d"
            ]
        ]
    },
    {
        "id": "54eedb2aa9a6fc18",
        "type": "function",
        "z": "1e78c2098878e540",
        "name": "TempZEW-extract",
        "func": "msg.payload = msg.payload.data[4] / 10;\nmsg.topic = \"TempZEW\";\nmsg.timestamp = new Intl.DateTimeFormat('pl-PL', {\n  hour: '2-digit', minute: '2-digit', second: '2-digit',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour12: false\n}).format(new Date()).replace(',', '');\n\nflow.set(\"tempzew\", msg.payload);\n\nnode.status({\n  fill: \"blue\",\n  shape: \"ring\",\n  text: `TempZEW: ${msg.payload} °C | Time: ${msg.timestamp}`\n});\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 140,
        "wires": [
            [
                "9d6f3c55beed1de2"
            ]
        ]
    },
    {
        "id": "9d6f3c55beed1de2",
        "type": "data-view",
        "z": "1e78c2098878e540",
        "name": "",
        "property": "payload",
        "fieldType": "msg",
        "width": "600",
        "height": 160,
        "points": "40",
        "active": true,
        "passthru": false,
        "hide": true,
        "outputs": 0,
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "c03008d7c7b1400a",
        "type": "data-view",
        "z": "1e78c2098878e540",
        "name": "",
        "property": "payload",
        "fieldType": "msg",
        "width": "600",
        "height": 160,
        "points": "40",
        "active": true,
        "passthru": false,
        "hide": true,
        "outputs": 0,
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd09d6777578e0a1",
        "type": "data-view",
        "z": "1e78c2098878e540",
        "name": "",
        "property": "payload",
        "fieldType": "msg",
        "width": "600",
        "height": 160,
        "points": "40",
        "active": true,
        "passthru": false,
        "hide": true,
        "outputs": 0,
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "a3d43e6609be7e87",
        "type": "modbus-read",
        "z": "1e78c2098878e540",
        "name": "PLC-READ",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "4",
        "quantity": "6",
        "rate": "15",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "2a13aec920287264",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 110,
        "y": 40,
        "wires": [
            [],
            [
                "54eedb2aa9a6fc18",
                "2c8e29558bef67fc",
                "af5c63dab0f87aba"
            ]
        ]
    },
    {
        "id": "0e0c32ae656ae513",
        "type": "function",
        "z": "1e78c2098878e540",
        "name": "Termostat",
        "func": "// === PARAMETRY ===\nlet tempNastawa = Number(flow.get(\"temperatura_nastawa\")) || 0;\nlet tempCO = Number(msg.payload);\nlet aktywny = flow.get(\"aktywny\") ?? true;\n\nlet maxPozycja = 5000;\nlet minPozycja = 0;\n\n// --- Stan poprzedni ---\nlet pozycja = flow.get(\"pozycja\") || 0;\nlet cykl = flow.get(\"cykl\") || 0;\ncykl++;\nif (cykl > 1000) cykl = 0;\nflow.set(\"cykl\", cykl);\n\n// --- Bufor różnicy temperatur ---\nlet delta = tempNastawa - tempCO;\nlet buf = flow.get(\"deltaBuf\") || [];\nbuf.push(delta);\nif (buf.length > 5) buf.shift();\nlet deltaAvg = buf.reduce((a, b) => a + b, 0) / buf.length;\nflow.set(\"deltaBuf\", buf);\n\n// === HISTORIA / ADAPTACJA ===\nlet adapt = flow.get(\"adapt\") || {};\nlet tKey = Math.round(tempNastawa);\n\nif (!(tKey in adapt)) {\n    adapt[tKey] = pozycja;\n}\n\nlet target = adapt[tKey];\n\n// === UWZGLĘDNIENIE BEZWŁADNOŚCI INSTALACJI DYNAMICZNEJ ---\nlet now = Date.now();\nlet lastMove = flow.get(\"lastMove\") || 0;\nlet czasOdZmiany = (now - lastMove) / 1000; // sekundy\n\n// dynamiczny czas bezwładności: min 5 min, max 15 min, proporcjonalnie do skoku\nlet maxBez = 900; // 15 min\nlet minBez = 300; // 5 min\nlet skokSzac = Math.min(Math.abs(target - pozycja), maxPozycja);\nlet bezwladnosc = minBez + skokSzac / maxPozycja * (maxBez - minBez);\n\nlet czekaj = czasOdZmiany < bezwladnosc;\n\n// === LOGIKA REGULACJI ===\nlet skok = 0;\nlet stan = \"grey\";\nlet maxSkok = 300; // maksymalny skok na cykl\nlet histereza = 10; // minimalny ruch aby zmienić pozycję\n\nif (aktywny) {\n    if (!czekaj) {\n        if (deltaAvg > 3) skok = 300;\n        else if (deltaAvg > 1) skok = 150;\n        else if (deltaAvg > 0.5) skok = 50;\n        else if (deltaAvg < -3) skok = -300;\n        else if (deltaAvg < -1) skok = -150;\n        else if (deltaAvg < -0.5) skok = -50;\n\n        skok = Math.max(-maxSkok, Math.min(maxSkok, skok));\n        if (Math.abs(skok) < histereza) skok = 0;\n\n        // ✅ ZAMIANA target + skok → pozycja + skok\n        pozycja = pozycja + skok;\n\n        if (skok !== 0) flow.set(\"lastMove\", now);\n\n        stan = skok > 0 ? \"red\" : skok < 0 ? \"blue\" : \"green\";\n    } else {\n        // w okresie bezwładności – pozycja bez zmian\n        pozycja = target;\n        stan = \"yellow\";\n    }\n} else {\n    pozycja = 0;\n    stan = \"grey\";\n}\n\n// --- ograniczenie ---\npozycja = Math.max(minPozycja, Math.min(maxPozycja, pozycja));\n\n// === WYGŁADZENIE POZYCJI ===\nlet bufPoz = flow.get(\"bufPoz\") || [];\nbufPoz.push(pozycja);\nif (bufPoz.length > 5) bufPoz.shift();\nlet pozycjaFiltrowana = bufPoz.reduce((a, b) => a + b, 0) / bufPoz.length;\nflow.set(\"bufPoz\", bufPoz);\npozycja = Math.round(pozycjaFiltrowana / 100) * 100;\n\n// === AKTUALIZACJA HISTORII ===\nlet adaptFactor = adapt.hasOwnProperty(tKey) ? 0.2 : 0.5; // nowe punkty uczą się szybciej\nadapt[tKey] = Math.round((adapt[tKey] || pozycja) * (1 - adaptFactor) + pozycja * adaptFactor);\nflow.set(\"adapt\", adapt);\n\n// --- zapis pozycji ---\nflow.set(\"pozycja\", pozycja, \"default\");\n\n// === STATUS ===\nlet info = czekaj ? \"CZEKA (bezwładność)\" : aktywny ? \"AKTYWNY\" : \"WYŁ\";\nglobal.set(\"info\", info);\n\nnode.status({\n    fill: stan,\n    shape: \"ring\",\n    text: `POZ:${pozycja} | Δ:${deltaAvg.toFixed(1)} | Nast:${tempNastawa.toFixed(1)} | ${info}`\n});\n\n// === LOG ===\nlet logLine = `${new Date().toLocaleString(\"pl-PL\")}, Nastawa:${tempNastawa.toFixed(1)}, TempCO:${tempCO.toFixed(1)}, Δ:${deltaAvg.toFixed(2)}, Pozycja:${pozycja}, CzasOdZm:${Math.round(czasOdZmiany)}s, ${info}`;\n\nlet out1 = { payload: pozycja };\nlet out2 = { payload: logLine };\n\nreturn [out1, out2];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "cf8d225c092417f5"
            ],
            [
                "a181afc9dcf4f025"
            ]
        ]
    },
    {
        "id": "cf8d225c092417f5",
        "type": "modbus-write",
        "z": "1e78c2098878e540",
        "name": "Siłownik",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "4",
        "quantity": "1",
        "server": "2a13aec920287264",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 620,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a181afc9dcf4f025",
        "type": "file",
        "z": "1e78c2098878e540",
        "name": "",
        "filename": "/tmp/file.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8b78f5a8abf76e4d",
        "type": "function",
        "z": "1e78c2098878e540",
        "name": "Nastawa - Krzywa Temperatur",
        "func": "// Pobieramy temperaturę zewnętrzną z flow\nlet tempzew = Number(flow.get(\"tempzew\")) || 0;\n\n// Tworzymy dwuwymiarową tablicę z przykładowymi wartościami\n// format: [ [temp_zew, temp_nastawa], ... ]\n// let tabelaNastaw = [\n//     [-10, 55],\n//     [0, 50],\n//     [5, 45],\n//     [10, 42],\n//     [12, 40],\n//     [15, 15]\n// ];\nlet tabelaNastaw = global.get(\"tabelaNastaw\");\n\nflow.set(\"tabelaNastaw\", tabelaNastaw);\n// global.set(\"tabelaNastaw\", tabelaNastaw);\n\n// Funkcja, która wybiera nastawę na podstawie tempzew\n// tutaj prosta interpolacja liniowa między punktami tabeli\nfunction obliczNastawa(tempzew, tabela) {\n    for (let i = 0; i < tabela.length - 1; i++) {\n        let [t1, n1] = tabela[i];\n        let [t2, n2] = tabela[i + 1];\n        if (tempzew >= t1 && tempzew <= t2) {\n            // interpolacja liniowa\n            let nastawa = n1 + (n2 - n1) * (tempzew - t1) / (t2 - t1);\n            return Number(nastawa.toFixed(1)); // zaokrąglenie do 1 miejsca\n        }\n    }\n    // jeśli tempzew poza zakresem, zwracamy krańcową wartość\n    if (tempzew < tabela[0][0]) return Number(tabela[0][1].toFixed(1));\n    if (tempzew > tabela[tabela.length - 1][0]) return Number(tabela[tabela.length - 1][1].toFixed(1));\n}\n\n// obliczamy temperaturę nastawy\nlet tempNastawa = obliczNastawa(tempzew, tabelaNastaw);\n\n// zapis do flow\nflow.set(\"temperatura_nastawa\", tempNastawa);\n\n// --- status node ---\nnode.status({\n    fill: \"grey\",\n    shape: \"ring\",\n    text: `tempNastawa: ${tempNastawa} `\n});\n\n// dla debugu wyjście msg\nmsg.payload = { tempzew, tempNastawa, tabelaNastaw };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 460,
        "wires": [
            [
                "5fa8e9a784e119d4"
            ]
        ]
    },
    {
        "id": "568c2ffe47e00ceb",
        "type": "function",
        "z": "1e78c2098878e540",
        "name": "Dla ThingSpeak i Dashboard",
        "func": "// Pobieramy temperaturę zewnętrzną z flow\nlet tempzew = Number(flow.get(\"tempzew\")) || 0;\nlet tempco = Number(flow.get(\"tempco\")) || 0;\nlet pozycja = Number(flow.get(\"pozycja\")) || 0;\nlet aktywny = Number(flow.get(\"aktywny\")) || 0;\nlet temperatura_nastawa = Number(flow.get(\"temperatura_nastawa\")) || 0;\nlet dashdata = 0;\n\n// Tworzymy URL do ThingSpeak\nlet writeAPIKey = \"DR68GTX4J0WJA08J\";\nlet url = `https://api.thingspeak.com/update?api_key=${writeAPIKey}&field1=${tempzew}&field2=${tempco}&field3=${pozycja}`;\n\n// Przekazujemy URL do HTTP request node\nmsg.url = url;\n//msg.method = \"GET\"; // GET dla prostego zapisu\n//return msg;\n\n// --- WYJŚCIE 1 → dla thingspeak ---\nlet out1 = { url: url };\n\n// --- WYJŚCIE 2 → dashboard ---\nlet out2 = { tempzew: tempzew, tempco: tempco, pozycja: pozycja, temperatura_nastawa: temperatura_nastawa, aktywny: aktywny };\n\n// Zwracamy oba wyjścia\nreturn [out1, out2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            [
                "2c19ecde5a031fbf"
            ],
            [
                "00ddd83ad047e45b"
            ]
        ]
    },
    {
        "id": "b888b715ed15d9f2",
        "type": "http request",
        "z": "1e78c2098878e540",
        "name": "ThingSpeak",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "2c19ecde5a031fbf",
        "type": "delay",
        "z": "1e78c2098878e540",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 20,
        "wires": [
            [
                "b888b715ed15d9f2"
            ]
        ]
    },
    {
        "id": "00ddd83ad047e45b",
        "type": "link out",
        "z": "1e78c2098878e540",
        "name": "GoToDash",
        "mode": "link",
        "links": [
            "0876e49f1e67ae60"
        ],
        "x": 585,
        "y": 60,
        "wires": []
    },
    {
        "id": "5fa8e9a784e119d4",
        "type": "link out",
        "z": "1e78c2098878e540",
        "name": "GoToTabela",
        "mode": "link",
        "links": [
            "f4542dcb0e25ccd7"
        ],
        "x": 425,
        "y": 460,
        "wires": []
    },
    {
        "id": "7bb76db9a3963f1c",
        "type": "link in",
        "z": "1e78c2098878e540",
        "name": "Włącznik flow aktywny",
        "links": [
            "3242a61540e3a11f"
        ],
        "x": 145,
        "y": 540,
        "wires": [
            [
                "4d48bd97950573eb"
            ]
        ]
    },
    {
        "id": "4d48bd97950573eb",
        "type": "function",
        "z": "1e78c2098878e540",
        "name": "Set ON OFF Flow",
        "func": "\nflow.set(\"aktywny\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0876e49f1e67ae60",
        "type": "link in",
        "z": "6249a630e13530e8",
        "name": "link in 1",
        "links": [
            "00ddd83ad047e45b"
        ],
        "x": 175,
        "y": 40,
        "wires": [
            [
                "27e0b1a1685cd8b1",
                "8a16b396e782a607",
                "7ecf9fc1cf5c1305"
            ]
        ]
    },
    {
        "id": "27e0b1a1685cd8b1",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "rozdziel",
        "func": "let tempzew = msg.tempzew;\nlet tempco = msg.tempco;\nlet pozycja = msg.pozycja;\nlet tempNastawa = msg.temperatura_nastawa;\n\nlet out1 = { \n    payload: tempzew,\n    ui_update: { \n        label: \"🌡️ Temp. Zewn.\",\n        fontSize: \"16px\",\n        color: tempzew < 0 ? \"blue\" : \"red\"\n    },\n    class: \"moj-widget\"   // tu możesz dodać własną klasę CSS\n};\n\nlet out2 = { \n    payload: tempco, \n    ui_update: { label: \"🔥 Temp. CO\" } \n};\n\nlet out3 = { \n    payload: pozycja, \n    ui_update: { label: \"⚙️ Pozycja Siłownika\" } \n};\n\nlet out4 = { \n    payload: tempNastawa, \n    ui_update: { label: \"🎛️ Temp. Nastawa\" } \n};\n\nreturn [out1, out2, out3, out4];\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 40,
        "wires": [
            [
                "29303f6b47338634",
                "ui_text_tempzew"
            ],
            [
                "7bab3e7370cace8d",
                "ui_text_tempco",
                "36418cb08ab2119c",
                "d4be91bd69e0bf8e"
            ],
            [
                "8e93df1fe23a3b9b",
                "ui_text_pozycja"
            ],
            [
                "7713b4ecfc3a32b3",
                "ui_text_nastawa"
            ]
        ]
    },
    {
        "id": "f4542dcb0e25ccd7",
        "type": "link in",
        "z": "6249a630e13530e8",
        "name": "Tabela",
        "links": [
            "5fa8e9a784e119d4"
        ],
        "x": 165,
        "y": 300,
        "wires": [
            [
                "5e78e32796a9a1f9"
            ]
        ]
    },
    {
        "id": "29303f6b47338634",
        "type": "ui-chart",
        "z": "6249a630e13530e8",
        "group": "402b61187877985c",
        "name": "Temp ZEW",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-10",
        "ymax": "20",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "4",
        "showLegend": true,
        "removeOlder": "4",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "3",
        "className": "",
        "interpolation": "linear",
        "x": 750,
        "y": 20,
        "wires": [
            [
                "3232d813cb29fb74"
            ]
        ]
    },
    {
        "id": "7bab3e7370cace8d",
        "type": "ui-chart",
        "z": "6249a630e13530e8",
        "group": "aa57b43bfff6a1ad",
        "name": "Temp CO",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "20",
        "ymax": "70",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "4",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "3",
        "className": "",
        "interpolation": "linear",
        "x": 740,
        "y": 80,
        "wires": [
            [
                "e62e288780486018"
            ]
        ]
    },
    {
        "id": "8e93df1fe23a3b9b",
        "type": "ui-chart",
        "z": "6249a630e13530e8",
        "group": "03b8f32c681918ed",
        "name": "Pozycja",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "4",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "3",
        "className": "",
        "interpolation": "linear",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "29f8b1082c88b1b8"
            ]
        ]
    },
    {
        "id": "7713b4ecfc3a32b3",
        "type": "ui-chart",
        "z": "6249a630e13530e8",
        "group": "370ade6c7eb189cb",
        "name": "Temp Nastawa",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "20",
        "ymax": "70",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "4",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "3",
        "className": "",
        "interpolation": "linear",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "6674b89b8d4ffe39",
                "d283e712b7285721"
            ]
        ]
    },
    {
        "id": "ui_text_tempzew",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "402b61187877985c",
        "order": 1,
        "width": "4",
        "height": 1,
        "name": "Temp Zew",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_text_tempco",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "aa57b43bfff6a1ad",
        "order": 1,
        "width": "4",
        "height": 1,
        "name": "Temp CO",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "ui_text_pozycja",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "03b8f32c681918ed",
        "order": 1,
        "width": "4",
        "height": 1,
        "name": "Pozycja",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "ui_text_nastawa",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "370ade6c7eb189cb",
        "order": 1,
        "width": "4",
        "height": 1,
        "name": "Temp Nastawa",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "b4b9cb347c2373ed",
        "type": "ui-switch",
        "z": "6249a630e13530e8",
        "name": "Włacznik Główny",
        "label": "Włącznik Ogrzewania",
        "group": "484d649bdd92edf9",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "3242a61540e3a11f"
            ]
        ]
    },
    {
        "id": "04815bd0b7795a85",
        "type": "ui-text-input",
        "z": "6249a630e13530e8",
        "group": "980757773314ad13",
        "name": "Harmonogram Start",
        "label": "START",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "time",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 590,
        "y": 480,
        "wires": [
            [
                "3a1e9bf47621a913"
            ]
        ]
    },
    {
        "id": "d17de3c53b4cc6c3",
        "type": "ui-text-input",
        "z": "6249a630e13530e8",
        "group": "980757773314ad13",
        "name": "Harmonogram Stop",
        "label": "STOP",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "time",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "2ba3a254dbe32d80"
            ]
        ]
    },
    {
        "id": "52c3b39ee0f9fdd9",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "484d649bdd92edf9",
        "order": 1,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Stan Węzła",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "3242a61540e3a11f",
        "type": "link out",
        "z": "6249a630e13530e8",
        "name": "Dashboard Switch ON OFF",
        "mode": "link",
        "links": [
            "7bb76db9a3963f1c"
        ],
        "x": 875,
        "y": 380,
        "wires": []
    },
    {
        "id": "d283e712b7285721",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "657c50306b4f1249",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Nastawa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "temperatura_nastawa",
        "valueType": "msg",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "8a16b396e782a607",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "Change Value",
        "func": "if (msg.aktywny) msg.payload = \"ON\"\nif (!msg.aktywny) msg.payload = \"OFF\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 200,
        "wires": [
            [
                "52c3b39ee0f9fdd9"
            ]
        ]
    },
    {
        "id": "e7ae46dcbf10ff6f",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "657c50306b4f1249",
        "order": 2,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Temp CO",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1320,
        "y": 60,
        "wires": []
    },
    {
        "id": "36418cb08ab2119c",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "add degree",
        "func": "msg.payload= msg.payload + \" &deg;C\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 60,
        "wires": [
            [
                "e7ae46dcbf10ff6f"
            ]
        ]
    },
    {
        "id": "3a1e9bf47621a913",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "Start SET",
        "func": "// msg.payload = \"HH:MM\"\nlet timeStr = msg.payload || \"00:00\";\nlet parts = timeStr.split(\":\");\n\nlet hours = parseInt(parts[0], 10) || 0;\nlet minutes = parseInt(parts[1], 10) || 0;\n\nmsg.payload = hours * 60 + minutes;\n\nglobal.set(\"startMinutes\", msg.payload);\n\n// --- status node ---\nnode.status({\n    fill: \"red\",\n    shape: \"ring\",\n    text: `start: ${msg.payload}`\n});\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "2ba3a254dbe32d80",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "Stop SET",
        "func": "// msg.payload = \"HH:MM\"\nlet timeStr = msg.payload || \"00:00\";\nlet parts = timeStr.split(\":\");\n\nlet hours = parseInt(parts[0], 10) || 0;\nlet minutes = parseInt(parts[1], 10) || 0;\n\nmsg.payload = hours * 60 + minutes;\n\nglobal.set(\"stopMinutes\", msg.payload);\n\n// --- status node ---\nnode.status({\n    fill: \"blue\",\n    shape: \"ring\",\n    text: `stop: ${msg.payload}`\n});\n\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "5e78e32796a9a1f9",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "Harmonogram sprawdzenie",
        "func": "let start = global.get(\"startMinutes\");\nlet stop = global.get(\"stopMinutes\");\n\n// teraz tNow:\nlet now = new Date();\nlet tNow = now.getHours()*60 + now.getMinutes();\nlet stan = false;\n\nif (start <= stop) {\n    stan = (tNow >= start && tNow < stop);\n} else {\n    stan = (tNow >= start || tNow < stop);\n}\n\n// --- status node ---\nnode.status({\n    fill: \"red\",\n    shape: \"ring\",\n    text: `teraz: ${tNow} | Wlacz harm: ${stan}`\n});\n\nmsg.payload = stan;\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d4be91bd69e0bf8e",
        "type": "ui-chart",
        "z": "6249a630e13530e8",
        "group": "aa57b43bfff6a1ad",
        "name": "Temp CO",
        "label": "",
        "order": 3,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "20",
        "ymax": "70",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "3",
        "className": "",
        "interpolation": "linear",
        "x": 940,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "648cb9a23ae31e28",
        "type": "ui-radio-group",
        "z": "6249a630e13530e8",
        "d": true,
        "group": "484d649bdd92edf9",
        "name": "Tryb Pracy",
        "label": "Tryb Pracy:",
        "order": 3,
        "width": "2",
        "height": "1",
        "columns": 1,
        "passthru": false,
        "options": [
            {
                "label": "Krzywa Grzewcza",
                "value": "krzywa",
                "type": "str"
            },
            {
                "label": "Ręcznie",
                "value": "recznie",
                "type": "str"
            },
            {
                "label": "Harm. i Krzywa Grzewcza",
                "value": "harm",
                "type": "str"
            },
            {
                "label": "Harm. i Ręczna Temp CO",
                "value": "harmstalatemp",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 410,
        "y": 920,
        "wires": [
            [
                "a5e538dbed59d9ad"
            ]
        ]
    },
    {
        "id": "c6679dc4daf2da70",
        "type": "ui-number-input",
        "z": "6249a630e13530e8",
        "group": "6c5b1f1ebc002deb",
        "name": "krzywa dane -10",
        "label": "Temp Zew -10 °C",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "-10",
        "topicType": "str",
        "min": "10",
        "max": "60",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "thermometer-plus",
        "iconPosition": "left",
        "iconInnerPosition": "outside",
        "spinner": "default",
        "x": 400,
        "y": 600,
        "wires": [
            [
                "cfa99ba7ccac2eaf"
            ]
        ]
    },
    {
        "id": "ee36af66cac61335",
        "type": "ui-number-input",
        "z": "6249a630e13530e8",
        "group": "6c5b1f1ebc002deb",
        "name": "krzywa dane 0",
        "label": "Temp Zew 0 °C",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "0",
        "topicType": "str",
        "min": "10",
        "max": "60",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "thermometer-plus",
        "iconPosition": "left",
        "iconInnerPosition": "outside",
        "spinner": "default",
        "x": 400,
        "y": 640,
        "wires": [
            [
                "cfa99ba7ccac2eaf"
            ]
        ]
    },
    {
        "id": "27f7a1cdd0b073ec",
        "type": "ui-number-input",
        "z": "6249a630e13530e8",
        "group": "6c5b1f1ebc002deb",
        "name": "krzywa dane 5",
        "label": "Temp Zew 5 °C",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "5",
        "topicType": "str",
        "min": "10",
        "max": "60",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "thermometer-plus",
        "iconPosition": "left",
        "iconInnerPosition": "outside",
        "spinner": "default",
        "x": 400,
        "y": 680,
        "wires": [
            [
                "cfa99ba7ccac2eaf"
            ]
        ]
    },
    {
        "id": "d92ac544ee08221d",
        "type": "ui-number-input",
        "z": "6249a630e13530e8",
        "group": "6c5b1f1ebc002deb",
        "name": "krzywa dane 10",
        "label": "Temp Zew 10 °C",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "10",
        "topicType": "str",
        "min": "10",
        "max": "60",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "thermometer-plus",
        "iconPosition": "left",
        "iconInnerPosition": "outside",
        "spinner": "default",
        "x": 400,
        "y": 720,
        "wires": [
            [
                "cfa99ba7ccac2eaf"
            ]
        ]
    },
    {
        "id": "511aafddfc70b9f2",
        "type": "ui-number-input",
        "z": "6249a630e13530e8",
        "group": "6c5b1f1ebc002deb",
        "name": "krzywa dane 12",
        "label": "Temp Zew 12 °C",
        "order": 5,
        "width": 0,
        "height": 0,
        "topic": "12",
        "topicType": "str",
        "min": "10",
        "max": "60",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "thermometer-plus",
        "iconPosition": "left",
        "iconInnerPosition": "outside",
        "spinner": "default",
        "x": 400,
        "y": 760,
        "wires": [
            [
                "cfa99ba7ccac2eaf"
            ]
        ]
    },
    {
        "id": "204708da7ce7cbc6",
        "type": "ui-number-input",
        "z": "6249a630e13530e8",
        "group": "6c5b1f1ebc002deb",
        "name": "krzywa dane 15",
        "label": "Temp Zew 15 °C",
        "order": 6,
        "width": "0",
        "height": "0",
        "topic": "15",
        "topicType": "str",
        "min": "10",
        "max": "60",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "thermometer-plus",
        "iconPosition": "left",
        "iconInnerPosition": "outside",
        "spinner": "default",
        "x": 400,
        "y": 800,
        "wires": [
            [
                "cfa99ba7ccac2eaf"
            ]
        ]
    },
    {
        "id": "0218d0784e47be92",
        "type": "inject",
        "z": "6249a630e13530e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "3dc3578340081ba4",
                "93a9b1e2fdf71f7a"
            ]
        ]
    },
    {
        "id": "3dc3578340081ba4",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "function 3",
        "func": "// Pobierz dane tabeli z globalnej zmiennej\nlet tabela = global.get(\"tabelaNastaw\") || [\n    [-10, 55],\n    [0, 50],\n    [5, 45],\n    [10, 42],\n    [12, 40],\n    [15, 15]\n];\n\n\n\n// Oczekiwany format: [ [tempZew, tempCO], ... ]\n// Przykład: [[-10,55],[0,50],[5,45],[10,42],[12,40],[15,10]]\n\nif (tabela.length < 6) {\n    node.warn(\"Brak pełnych danych w global.tabelaNastaw\");\n    return null;\n}\n\n// Tworzymy 6 komunikatów — po jednym dla każdego ui-number-input\nlet msgs = [];\n\n// Kolejność zgodna z Twoimi węzłami:\nmsgs[0] = { payload: tabela[0][1] }; // Temp -10°C\nmsgs[1] = { payload: tabela[1][1] }; // Temp 0°C\nmsgs[2] = { payload: tabela[2][1] }; // Temp 5°C\nmsgs[3] = { payload: tabela[3][1] }; // Temp 10°C\nmsgs[4] = { payload: tabela[4][1] }; // Temp 12°C\nmsgs[5] = { payload: tabela[5][1] }; // Temp 15°C\n\nreturn msgs;\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 700,
        "wires": [
            [
                "c6679dc4daf2da70"
            ],
            [
                "ee36af66cac61335"
            ],
            [
                "27f7a1cdd0b073ec"
            ],
            [
                "d92ac544ee08221d"
            ],
            [
                "511aafddfc70b9f2"
            ],
            [
                "204708da7ce7cbc6"
            ]
        ]
    },
    {
        "id": "cfa99ba7ccac2eaf",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "function 4",
        "func": "// Pobierz bieżącą tabelę z globalnej zmiennej\nlet tabela = global.get(\"tabelaNastaw\") || [\n    [-10, 55],\n    [0, 50],\n    [5, 45],\n    [10, 42],\n    [12, 40],\n    [15, 15]\n];\n\n// Sprawdź, czy przychodzi prawidłowy temat\nif (typeof msg.topic === \"undefined\") {\n    node.warn(\"Brak msg.topic — nie wiadomo, który punkt zaktualizować.\");\n    return null;\n}\n\n// Zamień na liczbę\nlet tZew = Number(msg.topic);\nlet nowaWartosc = Number(msg.payload);\nlet found = false;\n\n// Aktualizacja istniejącego wpisu\nfor (let i = 0; i < tabela.length; i++) {\n    if (tabela[i][0] === tZew) {\n        tabela[i][1] = nowaWartosc;\n        found = true;\n        break;\n    }\n}\n\n// Jeśli nie istnieje taki wpis — dodaj go i posortuj\nif (!found) {\n    tabela.push([tZew, nowaWartosc]);\n    tabela.sort((a, b) => a[0] - b[0]);\n}\n\n// Zapisz w globalnej pamięci\nglobal.set(\"tabelaNastaw\", tabela);\n\n// Wyślij aktualną tabelę dalej (np. do ui-table)\nmsg.payload = tabela;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a5e538dbed59d9ad",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "function 1",
        "func": "// Odczytujemy wartość z przycisku radiowego\nlet tryb = msg.payload;\n\n// Zapis do zmiennej globalnej\nglobal.set(\"trybPracy\", tryb);\n\n// (opcjonalnie) komunikat debugowy\nnode.status({fill:\"green\", shape:\"dot\", text:\"trybPracy = \" + tryb});\n\n// Zwracamy wiadomość dalej (jeśli potrzebne)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "93a9b1e2fdf71f7a",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "function 2",
        "func": "// Wczytaj wartości z globalnych zmiennych (trwałych)\nlet startMinutes = global.get(\"startMinutes\", \"file\") ?? 0;\nlet stopMinutes  = global.get(\"stopMinutes\", \"file\") ?? 1350;\n\n// Pomocnicza funkcja: minuty -> \"HH:MM\"\nfunction toTimeStr(mins) {\n    let h = Math.floor(mins / 60);\n    let m = mins % 60;\n    return `${String(h).padStart(2, \"0\")}:${String(m).padStart(2, \"0\")}`;\n}\n\nlet startStr = toTimeStr(startMinutes);\nlet stopStr  = toTimeStr(stopMinutes);\n\n// wyjście 1 -> START, wyjście 2 -> STOP\nreturn [\n    { payload: startStr },\n    { payload: stopStr }\n];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "04815bd0b7795a85"
            ],
            [
                "d17de3c53b4cc6c3"
            ]
        ]
    },
    {
        "id": "4e294de02e280b82",
        "type": "inject",
        "z": "6249a630e13530e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "krzywa",
        "payloadType": "str",
        "x": 200,
        "y": 920,
        "wires": [
            [
                "648cb9a23ae31e28"
            ]
        ]
    },
    {
        "id": "6674b89b8d4ffe39",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "6c5b1f1ebc002deb",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nastawa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1180,
        "y": 160,
        "wires": []
    },
    {
        "id": "e62e288780486018",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "6c5b1f1ebc002deb",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp CO",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1180,
        "y": 80,
        "wires": []
    },
    {
        "id": "59fc6f5576bfc04c",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "657c50306b4f1249",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Temp Zew",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1330,
        "y": 20,
        "wires": []
    },
    {
        "id": "4d8e754b95fe500b",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "657c50306b4f1249",
        "order": 6,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Info",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "7ecf9fc1cf5c1305",
        "type": "change",
        "z": "6249a630e13530e8",
        "name": "Get Info",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "info",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "4d8e754b95fe500b"
            ]
        ]
    },
    {
        "id": "3232d813cb29fb74",
        "type": "function",
        "z": "6249a630e13530e8",
        "name": "add degree",
        "func": "msg.payload = msg.payload + \" &deg;C\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 20,
        "wires": [
            [
                "59fc6f5576bfc04c"
            ]
        ]
    },
    {
        "id": "29f8b1082c88b1b8",
        "type": "ui-text",
        "z": "6249a630e13530e8",
        "group": "657c50306b4f1249",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Pozycja",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "259e62d114496729",
        "type": "ui-template",
        "z": "6249a630e13530e8",
        "group": "657c50306b4f1249",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n        <h2>Counter</h2>\n        <!-- Conditional Styling using Attribute Binding (\":\") -->\n        <!-- and rendering content inside <tags></tags> with {{ }} -->\n        <p :style=\"{'color' : (count > 5 ? 'red' : 'green' )}\">Current Count: {{ count }}</p>\n        <!-- Computed Rendering using Vue Computed Variables -->\n        <p class=\"my-class\">Formatted Count: {{ formattedCount }}</p>\n        <!-- Conditional Rendering with \"v-if\" -->\n        <b v-if=\"count > 5\">Too many!</b>\n        <v-btn @click=\"increase()\">Increment</v-btn>\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            // define variables available component-wide\n            // (in <template> and component functions)\n            return {\n                count: 0\n            }\n        },\n        watch: {\n            // watch for any changes of \"count\"\n            count: function () {\n                if (this.count % 5 === 0) {\n                    this.send({payload: 'Multiple of 5'})\n                }\n            }\n        },\n        computed: {\n            // automatically compute this variable\n            // whenever VueJS deems appropriate\n            formattedCount: function () {\n                return this.count + ' Apples'\n            }\n        },\n        methods: {\n            // expose a method to our <template> and Vue Application\n            increase: function () {\n                this.count++\n            }\n        },\n        mounted() {\n            // code here when the component is first loaded\n        },\n        unmounted() {\n            // code here when the component is removed from the Dashboard\n            // i.e. when the user navigates away from the page\n        }\n    }\n</script>\n<style>\n    /* define any styles here - supports raw CSS */\n    .my-class {\n        color: red;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "6f48287671bc7669",
        "type": "modbus-write",
        "z": "867cb1db5f09b847",
        "name": "Siłownik",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "4",
        "quantity": "1",
        "server": "2a13aec920287264",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b475f31fb4451340",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2000",
        "payloadType": "num",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "4cc43dc53755b3c3",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "e174f24121d7f44a",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3000",
        "payloadType": "num",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "ebdd0246e3415148",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4000",
        "payloadType": "num",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "c4ebc7abbda93c83",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3200",
        "payloadType": "num",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "085e699e22f5190c",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3400",
        "payloadType": "num",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "0a25dd8c6c0027c5",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3600",
        "payloadType": "num",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "3a60b24f2cd78f44",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2700",
        "payloadType": "num",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "48d5389df93311f2",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2500",
        "payloadType": "num",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "9a326f3691aa0f2c",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "6f48287671bc7669"
            ]
        ]
    },
    {
        "id": "ce837d21c6f37d93",
        "type": "comment",
        "z": "867cb1db5f09b847",
        "name": "test",
        "info": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "c1f3a1abf3c1d111",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "43",
        "payloadType": "num",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "f5a1b2c3d4e5f678"
            ]
        ]
    },
    {
        "id": "f5a1b2c3d4e5f678",
        "type": "change",
        "z": "867cb1db5f09b847",
        "name": "Zapisz do flow.temperatura_nastawa",
        "rules": [
            {
                "t": "set",
                "p": "temperatura_nastawa",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 430,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a2b3c4d5e6f7a890",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "Odczytaj nastawę",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "b3c4d5e6f7a8b901"
            ]
        ]
    },
    {
        "id": "b3c4d5e6f7a8b901",
        "type": "function",
        "z": "867cb1db5f09b847",
        "name": "Pobierz flow.temperatura_nastawa",
        "func": "let nastawa = flow.get(\"temperatura_nastawa\") || 0;\nmsg.payload = \"Aktualna nastawa: \" + nastawa + \" °C\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "d4e5f6a7b8c9d012"
            ]
        ]
    },
    {
        "id": "d4e5f6a7b8c9d012",
        "type": "debug",
        "z": "867cb1db5f09b847",
        "name": "Podgląd nastawy",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "5dae5dcf549808d3",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "33",
        "payloadType": "num",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "f5a1b2c3d4e5f678"
            ]
        ]
    },
    {
        "id": "d1f0d5f18d78a9e0",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "f5a1b2c3d4e5f678"
            ]
        ]
    },
    {
        "id": "d237c4be8fc56eb9",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "27",
        "payloadType": "num",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "f5a1b2c3d4e5f678"
            ]
        ]
    },
    {
        "id": "878f10a53dd86c8c",
        "type": "inject",
        "z": "867cb1db5f09b847",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "f5a1b2c3d4e5f678"
            ]
        ]
    },
    {
        "id": "0eccd18fcd4a9b44",
        "type": "modbus-write",
        "z": "85249515dfc449d5",
        "name": "Off Simple PLC Program 118",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "118",
        "quantity": "1",
        "server": "2a13aec920287264",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 420,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a2f8f9231c0240da",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "0eccd18fcd4a9b44"
            ]
        ]
    },
    {
        "id": "b4a5c6b9a8798535",
        "type": "modbus-write",
        "z": "85249515dfc449d5",
        "name": "Off Simple PLC Program 100",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "100",
        "quantity": "1",
        "server": "2a13aec920287264",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 420,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "daa70b52f74fd2b4",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "0eccd18fcd4a9b44"
            ]
        ]
    },
    {
        "id": "53fa855dc695dd45",
        "type": "modbus-read",
        "z": "85249515dfc449d5",
        "name": "PLC-Task",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "100",
        "quantity": "19",
        "rate": "15",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "2a13aec920287264",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 100,
        "wires": [
            [],
            [
                "097df399214566b1",
                "812524f4bc51b371"
            ]
        ]
    },
    {
        "id": "097df399214566b1",
        "type": "function",
        "z": "85249515dfc449d5",
        "name": "PLC100",
        "func": "msg.timestamp = new Intl.DateTimeFormat('pl-PL', {\n  hour: '2-digit', minute: '2-digit', second: '2-digit',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour12: false\n}).format(new Date()).replace(',', '');\n\nflow.set(\"plc100\", msg.payload.data[0]);\nflow.set(\"plc101\", msg.payload.data[1]);\nflow.set(\"plc118\", msg.payload.data[18]);\n\nnode.status({\n  fill: \"blue\",\n  shape: \"ring\",\n  text: `PLC: ${msg.payload.data[0]} | ${msg.payload.data[1]} | ${msg.payload.data[18]} | Time: ${msg.timestamp}`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "812524f4bc51b371",
        "type": "debug",
        "z": "85249515dfc449d5",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "8cf97f8067a9d5a6",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "b4a5c6b9a8798535"
            ]
        ]
    },
    {
        "id": "66f04218c4e4b0e7",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "0eccd18fcd4a9b44"
            ]
        ]
    },
    {
        "id": "73f10be44a52ecdb",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "b4a5c6b9a8798535"
            ]
        ]
    },
    {
        "id": "92e54087507e4bf8",
        "type": "modbus-write",
        "z": "85249515dfc449d5",
        "name": "Single coil",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "2a13aec920287264",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 790,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "feee1690fb5d8997",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 512,
        "y": 401,
        "wires": [
            [
                "92e54087507e4bf8"
            ]
        ]
    },
    {
        "id": "34ec598cb5dc0e34",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "92e54087507e4bf8"
            ]
        ]
    },
    {
        "id": "9ead1bd2f7553f3a",
        "type": "modbus-write",
        "z": "85249515dfc449d5",
        "name": "Single coil",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "2a13aec920287264",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 810,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6c0cb35de86b9fab",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 532,
        "y": 561,
        "wires": [
            [
                "9ead1bd2f7553f3a"
            ]
        ]
    },
    {
        "id": "56cacbfcab37382d",
        "type": "inject",
        "z": "85249515dfc449d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "9ead1bd2f7553f3a"
            ]
        ]
    }
]