flows.json
[
    {
        "id": "1e78c2098878e540",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a13aec920287264",
        "type": "modbus-client",
        "name": "usb-conn",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 2,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b2627ed9b87f3e29",
        "type": "modbus-getter",
        "z": "1e78c2098878e540",
        "name": "SIMPLE-PLC",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "4",
        "quantity": "6",
        "server": "2a13aec920287264",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 450,
        "y": 200,
        "wires": [
            [],
            [
                "c9f79cb93cee558a",
                "2c8e29558bef67fc"
            ]
        ]
    },
    {
        "id": "3838d094c68b467f",
        "type": "configurable interval",
        "z": "1e78c2098878e540",
        "name": "configurable interval",
        "interval": 10,
        "onstart": false,
        "do_enable": true,
        "msg": "ping",
        "showstatus": true,
        "unit": "seconds",
        "statusformat": "YYYY-MM-D HH:mm:ss",
        "x": 140,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c9f79cb93cee558a",
        "type": "debug",
        "z": "1e78c2098878e540",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "d57c08874870f0b3",
        "type": "inject",
        "z": "1e78c2098878e540",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "b2627ed9b87f3e29"
            ]
        ]
    },
    {
        "id": "c6536cc019278032",
        "type": "display property",
        "z": "1e78c2098878e540",
        "name": "",
        "property": "msg.payload",
        "showDate": 0,
        "showTime": true,
        "x": 900,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2c8e29558bef67fc",
        "type": "function",
        "z": "1e78c2098878e540",
        "name": "function 1",
        "func": "msg.payload = msg.payload.data[5] / 10;\nmsg.topic = \"TempCO\";\nmsg.timestamp = new Date().toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [
            [
                "c6536cc019278032"
            ]
        ]
    }
]